/* *{
  user-select:none;
} */
.hue-horizontal{
  height:20px !important;
  width: 100% !important;
  /* width: 400px !important; */
  position: relative;
}

.slider-picker div:first-child{
  height:30px !important;
  position: relative;
  transform: scale(1.0) !important;
}
.slider-picker div:first-child:focus{
  height:20px !important;
  position: relative;
  transform: scale(1.2) !important;
  /* transform: scaleY(1.0) !important;
  transform: scaleX(1.0) !important; */
}

.slider-picker div:first-child ::selection{
  height:20px !important;
  position: relative;
  transform: scale(1.2) !important;
  /* transform: scaleY(1.0) !important;
  transform: scaleX(1.0) !important; */
}

/* div.slide-picker{
  height:220px !important;
} */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.disable-select{
  user-select:none;
}


.fading{
  opacity: 1;
  animation: fadeIn 5s ease;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}